<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 home">
			<h1>Overview</h1>
			<p>The purpose of Nielsen's Guide for Front End Development is to keep our development process nimble and intuitive as our
				development team grows. This is both a learning tool and a set of guidelines to improve reuse of code, reduce redundancy,
				and have our standards and patterns in one place. Not of all our code follows these guidelines but as we move forward
				we should follow these guidelines when both updating and implementing new pages.</p>
				<p><img ng-src="{{::$ctrl.img}}"/></p>
		</div>
	</div>
</div>